MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
PORT=3000

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
JWT_SECRET=  # For reset password token
APP_DOMAIN=http://localhost:3000/auth

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

CLOUD_NAME=
API_KEY=
API_SECRET=