MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=cluster0.xx.mongodb.net
MONGODB_DB=contactsdb
PORT=3000


# JWTs for sessions (already used in HW5)
ACCESS_TOKEN_SECRET=replace_me_access
REFRESH_TOKEN_SECRET=replace_me_refresh


# Password reset token (5 minutes lifetime)
PASSWORD_RESET_TOKEN_SECRET=replace_me_reset


# Brevo SMTP
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your-brevo-login
SMTP_PASSWORD=your-brevo-smtp-key
SMTP_FROM=your-verified@brevo.com


# Frontend domain for reset link
APP_DOMAIN=http://localhost:3000


# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=contacts-photos