MONGODB_USER=avtosklokyiv
MONGODB_PASSWORD=igor210293
MONGODB_URL=cluster0.mh60flt.mongodb.net
MONGODB_DB=contactsdb
PORT=3000
ACCESS_TOKEN_SECRET=...
REFRESH_TOKEN_SECRET=...
JWT_SECRET=...

SMTP_HOST=...
SMTP_PORT=...
SMTP_USER=...
SMTP_PASSWORD=...
SMTP_FROM=...

APP_DOMAIN=http://localhost:3000/auth
CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=..